<!DOCTYPE html>
<html>
  <head>
    <title>v-if If Statements</title>
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      .special {
        background: yellow;
        border: 1px dotted #fe0000;
        padding: 30px;
        display: block;
        text-align: center;
      }
      .important {
        font-weight: bold;
        font-size: 30px;
      }
      .container {
        margin: 2rem auto;
        width: 300px;
        box-shadow: 0 7px 1rem 5px rgb(0 0 0 / 0.2);
      }
      .imgClass {
        display: inline;
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <figure v-if="profile" v-bind:class="newContainer">
        <img
          v-if="profile.pic"
          v-bind:src="profile.pic"
          v-bind:class="addClass"
        />
        <img v-else v-bind:src="profile.defaultPic" />

        <figcaption v-bind:style="'padding:1rem;'">
          <p
            v-if="profile.fname && profile.lname"
            v-bind:style="'font-weight:bold;'"
          >
            {{profile.fname}} {{profile.lname}}
          </p>
          <p v-else>(No name available.)</p>

          <p v-if="profile.desc" v-bind:style="'font-weight:bold;'">
            {{profile.desc}}
          </p>
          <p v-else>(No description available.)</p>

          <p v-if="profile.bio">{{profile.bio}}</p>
          <p v-else>No bio to display</p>
        </figcaption>
      </figure>
      <p v-else>No Profile Data found.</p>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          profile: {
            fname: "Dogukan",
            lname: "Mere",
            desc: "Student",
            bio: "I am currently studying at Humber College | Web Development graduate certificate program.",
            pic: "https://i.ibb.co/2KQp5VB/dgkn.jpg",
            defaultPic:
              "https://t4.ftcdn.net/jpg/02/15/84/43/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg",
          },
          addClass: "imgClass",
          newContainer: "container",
        },
      });
    </script>

    <!--
		//step 1: Read Code Above
		//step 2: Does the profile show up?
		
		v-if="boolean_expression"
		v-else-if="boolean_expression"
		v-else
		
		
		You can code an if, else if, else statement into your render using the v-if, v-else-if, v-else.
		Just like in regular programming, v-else has no condition
		
		Notice how the "profile" object is null. Reminder that null is Falsey in the boolean context.
		
		ASYNCHRONOUS LEARNING EXERCISE
		1. Use the profile object to store information about yourself {fname, lname, desc, bio, pic}
		2. Create a figure, figcaption, and image markup which acts as a description for yourself
			(Something like this https://www.w3schools.com/howto/howto_css_cards.asp)
		3. Write conditionals if information is missing (i.e. 'no bio available' if bio is blank, generic image if no pic is found)
		--></body>
</html>
